<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  </head>
  <body>
    <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
    </nav>
    <div class="container">
      {{ content }}
    </div>
    <footer>
      <ul>
        <li><a href="https://github.com/canito0890">github.com/canito0890</a></li>
      </ul>
    </footer>
  </body>
</html>
